.time {
    display: flex;
    justify-content: center;
    grid-area: time;
}
.colon {
    width: 1rem;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
}
.buttons {
    font-weight: bold;
    font-size: 2rem;
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}
.date {
    text-align: end;
    font-weight: bold;
    font-size: 2rem;
    grid-area: date;
}
.clock {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "time buttons" "date tmp";
}
.ampm {
    height: 100%;
    display: flex;
    align-items: flex-end;
}
